body {
  --bg-color: #fff;
  font-family: sans-serif;
  background-color: #fff;
  color: #222;
  font-size: 14px;
  margin: 0;
  padding: 0;
}


button {
  color: #ffffff;
  cursor: pointer;
}



section {
  background-color: #ffffff;
}


li {
  color: #a8a8a8;
}








small {
  font-size: 12px;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  padding: 0 10px;
  padding-bottom: 50px;
}

.main {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.hidden {
  width: 0;
  height: 0;
  overflow: hidden;
}

.filter {
  padding-top: 15px;
}

.filter-list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.filter-list::-webkit-scrollbar {
  display: none;
}

.filter-item {
  padding: 5px 14px;
  border-radius: 14px;
  background-color: #e3e1dee4;
  border: 2px solid #e3e1dee4;
  font-weight: 500;
  text-align: center;
  color: #222;
  /* min-width: 100px; */
  white-space: nowrap;

}

.filter-item-active {
  border: 2px solid #EA80FC;
  background-color: #fff;
  color: #222;
}

.filter-title-h1 {
  font-weight: 600;
  padding: 12px 0;
  color: #222;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}


.product-card {
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  /* box-shadow: #dbd4cc8e 0px 8px 24px; */
}

.product-img {
  height: 110px;
  background-color: #22222253;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
}

.product-img-img {
  height: 110px;
  background-color: #22222253;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  object-fit: contain;
}

.product-img-img img {
  width: 100%;
}

.cart-item-img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.cart-item-img img {
  height: 100%;
}


.product-img img {
  /* border-radius: 14px; */
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.product-info {
  width: 100%;
  font-weight: 600;
  padding: 4px 0;
}

.add-to-cart {
  display: block;
  width: 100%;
  padding: 7px 0;
  margin-top: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #EA80FC;
}

.added-cart {
  display: flex;
  width: 100%;
  gap: 3px;
}

.added-to-cart {
  display: block;
  width: 100%;
  padding: 7px 0;
  margin-top: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #EA80FC;
}

.add-up {
  background-color: #dbd4cc8e;
  font-weight: 800;
}

.add-down {
  background-color: #dbd4cc8e;
  font-weight: 800;
}

.navigate-cart {
  position: fixed;
  right: -3px;
  bottom: 80px;
  padding: 8px 15px;
  justify-content: space-between;
  background-color: #e3e1dee4;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigate-cart-button {
  position: relative;
  text-align: center;
  border: none;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.navigate-cart-button span {
  position: absolute;
  top: -45px;
  left: -14px;
  background-color: #EA80FC;
  display: block;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


@media only screen and (max-width: 380px) {
  .product-card {
    padding: 5px;
  }

  .product-img {
    max-height: 140px;
  }

  .product-info {
    font-size: 14px;
  }
}






.product-detail-img {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 10px;
}

.product-detail-img img {
  width: 100%;
  border-radius: 14px;
}

.add-to-cart-detail {
  padding: 8px;
  font-size: 18px;
}

@media only screen and (max-width: 357px) {
  .add-to-cart-detail {
    padding: 10px 3px;
    font-size: 14px;
  }
}

.add-up-detail,
.add-down-detail {
  padding: 6px 3px;
  font-size: 22px;
}

.product-detail-info {
  margin-bottom: 50px;
}

.product-detail-info p {
  font-size: 20px;
}

.detail-bottom {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

.product-card-cart {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid rgba(128, 128, 128, 0.394);
  padding: 5px;
  box-sizing: content-box;
}

.product-img-cart img {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.product-info-cart {
  flex-grow: 1;
}

.add-to-cart-cart {
  max-width: 90px;
  padding: 8px;
  margin-left: auto;
}

.cart-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
}

.filter-item-back {
  display: flex;
  align-items: center;
  justify-content: center;
}



.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.cart-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.cart-item {
  padding: 5px 5px;
  display: flex;
  align-items: stretch;
  border-radius: 10px;
  border: 1px solid #57575752;
}

.cart-item-action {
  margin-left: auto;
  height: 100%;
  min-width: 80px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.cart-item-ptice {
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
}

.cart-item-info {
  padding-left: 10px;
}

.cart-item-info {
  font-size: 18px;
}

.cart-item-count {
  color: rgb(248, 142, 61);
  font-weight: 600;
  font-size: 15px;
}


.confirm-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-width: 260px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  z-index: 10;
}

.confirm-modal-title {
  text-align: center;
  font-weight: 600;
}

.confirm-modal-action {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.confirm-modal-action button {
  padding: 5px 10px;
  background-color: #5757576f;
  border: none;
  outline: none;
  border-radius: 8px;
  text-align: center;
}

.confirm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.cart-empty-text {
  padding: 30px 0;
  font-size: 28px;
  color: #33333398;
  text-align: center;
}



.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }

  40%,
  100% {
    background-position: 200px;
  }
}

@keyframes shine-lines-detail {
  0% {
    background-position: -100px;
  }

  40%,
  100% {
    background-position: 340px;
  }
}

@keyframes shine-avatar {
  0% {
    background-position: -100px;
  }

  40%,
  100% {
    background-position: 140px;
  }
}

.line {
  float: left;
  width: 100%;
  height: 110px;
  border-radius: 14px;
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  background-size: 800px;
  animation: shine-lines 1.6s infinite linear;
}

.line-2 {
  float: left;
  width: 100%;
  height: 22px;
  margin-top: 14px;
  border-radius: 7px;

  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  background-size: 800px;
  animation: shine-lines 1.6s infinite linear;
}

.detail-line-2 {
  animation: shine-lines-detail 1.6s infinite linear;
}

.line-3 {
  width: 90%;
}


.avatar+.line {
  margin-top: 11px;
}

.line~.line {
  background-color: #ddd;
}



.detail-info {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail-name {
  font-size: 28px;
  text-transform: capitalize;
}

.detail-price {}